
body {
    align-items: center;
    padding-left: 80px;
    padding-right: 50px;
}

header {
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* flex-direction: row; */
}
.icons {
    text-align: right;
    
}
.logo {
    font-size: 2rem;
    font-family: 'Parisienne', cursive;
    font-weight: 900;
}
/* .delicious {
    line-height: ;
} */

.bodyheader {
    margin-bottom: 0px;
    font-size: 200%;
    font-weight: bold;
}
.postedon {
    margin-top: 0px;
    color: gray;
    font-size: 80%;
}

hr {
    margin-top: 30px;
    height: 12px;
    background-color: lightgray;

}

.bodyheadcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list {
    background-image: url('/assets/list-bg.png');
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 130%;
}

ul {
    list-style-type: "\2610   ";
}

.checked {
    list-style-type: "\2611   ";
}
.print-logo {
    text-align: right;
    
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.print-logo img {
    height: 15px;
    
    display: inline-block;
}
