
header {
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* flex-direction: row; */
}
.icons {
    text-align: right;
    
}
.logo {
    font-size: 2rem;
    font-family: 'Parisienne', cursive;
    font-weight: 900;
}
/* .delicious {
    line-height: ;
} */